<!DOCTYPE html>
<html>
<head>
    <title>Task_Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }} <a href="{% url 'logout' %}">Logout</a></p>
        {% else %}
            <p><a href="{% url 'login' %}">Login</a> | <a href="{% url 'signup' %}">Sign Up</a></p>
        {% endif %}
        <h2>{{ form.instance.pk|yesno:"Edit Task,Add Task" }}</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
       
    </div>
</body>
</html>
